.vscode
tester-bot-trader/EURUSD1.csv
tester-bot-trader/EURUSD_M1_SALIDA.csv
tester-bot-trader/prueba-datos.csv
tester-bot-trader/EURUSD1_mod.csv
tester-bot-trader/.US30Cash_M1_ROMP.csv
tester-bot-trader/BCHUSD_M1_DOS_ROMP.csv
tester-bot-trader/EURUSD_M1_HIGH_3.csv
tester-bot-trader/EURUSd_M1_LOW_3.csv
tester-bot-trader/BCHUSD_M1.csv
tester-bot-trader/EURUSD_M1_SALIDA.csv
